@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pinyon+Script&family=Savate:ital,wght@0,200..900;1,200..900&family=Sixtyfour+Convergence&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 10px;
    font-size: 29px;
    margin-right: 40px;
}

#logo img{
    height: 50px;
    filter: invert(1);
}

#navbar{
    background-color:#ed7e64;
    padding: 10px 3px;
    position: sticky;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
}

#navbar li{
    position: sticky;
    list-style: none;
}

#navbar li a{
    text-decoration: none;
    margin: 10px 40px;
}

#navbar li a:hover{
    color:chartreuse;
    /* font-weight: bold; */
}

#introSection{
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    background: center / cover no-repeat url("/static/bg1.jpg");
    height: 500px;
    background-color: bisque;
    margin: 13px auto;
}

#introSection div{
    padding: 20px;
}

#introSection div.small{
    padding: 20px;
    font-size: 30px;
}

#sponsorsSection{
    height: 300px;
    background-color:burlywood;
}

#sponsorsSection h3{
    font-family: "Pinyon Script", cursive;
    font-size: 30px;
    text-align: center;
    color: blue;
    padding-top: 20px;
}

#sponsors{
    height: 100px;
}

.spImage{
    height: 100px;
    margin-top: 30px;
    margin: 40px;
}

.card{
    display: inline-block;
    font-family: sans-serif;
    font-size: 15px;
    border: 2px solid darkviolet;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 29%;
    margin: 10px 20px;
    height: 150px;
}

.card h3{
    padding: 7px 5px;
    font-family: "Savate", sans-serif;
    color:#ed7e64;
    font-size: 18px;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img{
    height: 100px;
    padding: 0 10px;
}

.card-img img{
    height: 90px;
}

.card-content{
    padding: 20px;
}

.card-content p{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    color: black;
}

#missionSection{
    font-family: "Pinyon Script", cursive;
    height: 225px;
    font-size: 25px;
    color: #52fdbc;
    text-align: center;
    padding-top: 5px;
    width: 80%;
    margin: auto;
}

#footer{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 50px;
    background-color:black;
    text-align: center;
    color: white;
    padding-top: 15px;
}